.msearch__movie-presentation
  border: 1px solid #d1d1e0
  margin: 10px
  background-color:  #f0f0f5
  display: inline-block
  width: 250px
  height: auto
  vertical-align: top
.movie-presentation__title
  font-family: 'latobold'
  text-align: center
  font-size: 21px
  line-height: 30px
  padding-left: 70px
  padding-right: 10px
  text-align: left
.movie-presentation__img-wrap
  width: 100%
  height: auto
  overflow: hidden
  max-height: 400px
.movie-presentation__img
  display: block
  width: 100%
  height: auto
.movie-presentation__top
  position: relative
.movie-presentation__rating
  background-color: #ffffff
  width: 60px
  height: 60px
  position: absolute
  top: 0px
  left: 0px
.movie-presentation__bottom
  font-family: 'latosemibold'
  font-size: 14px
  line-height: 19px
  padding: 10px
